<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Alfa Romeo
			<%= "| #{@page_title}" if @page_title %>
		</title>
		<%= stylesheet_link_tag('application', :media => 'all' ) %>
		<%= javascript_include_tag('application') %>
		<%= csrf_meta_tags %>
		<script>

			$(document).ready(function () {

				var docHeight = $(window).height();
				var footerHeight = $('#footer').outerHeight();
				var footerTop = $('#footer').position().top + footerHeight;

				if (footerTop < docHeight) {
					$('#footer').css('margin-top', 10 + (docHeight - footerTop) + 'px');
				}
			});
		</script>
		<script>
			$(function () {
				$("#myModal").modal({show: false});
			});
		</script>
	</head>
	<body>
		<%= render "welcome/login_modal" %>
		<%= render "welcome/sign_up_modal" %>
		<%= render("public/menu") %>


		<%= yield %>

		<div id="footer">
			<div class="container">
				<div class="row">
					<p class="text-muted text-right">
						Katarzyna Posacka, Maciej Posacki, Mateusz Rajca, Jakub Raźny, Maria Wójcik
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
